/*start of default code */

html {
    /*This is the default font size set by the browser.*/
    /*font-size: 16px;*/

    font-size: 62.5%; /*This is .625 * 16 = 10px makes calculation of rem easier*/
}


/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Make images easier to work with */
img, picture {
    display: block;
    max-width: 100%;
}

:root {
    --accentColor: #ff3400;
    --bodyTextColor: #918ca4;
    --headerTextColor: #1b0760;
    --primaryColor: #2584ff;
    --secondaryColor: #00d9ff;
}

/* Set core body defaults */
body {
    background-color: rgb(253, 247, 228);
    color: var(--bodyTextColor);
    /*font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-family: 'Inter';
    /*Default font size this is 24px.*/
    font-size: 2.4rem;
    line-height: 1.5;
    min-height: 96vh;
    /*background-color: #000000;*/
    text-rendering: optimizeSpeed;
}

/*<editor-fold desc="Typography">*/
/*Typography*/
h1, h2, h3 {
    color: var(--headerTextColor);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

@media screen and (min-width: 1204px){
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}
/*End of Typography*/
/*</editor-fold>*/


/*end of default code */

/* Rules for horizontal lists */
.horizontalList {
    list-style-type: none;
}

.horizontalListElement {
    display: inline-block;
}

/*Rules for the nav */
nav {
    overflow: hidden;
    width: 16rem;
}

.navLinks {
    /*color: #ffffff;*/
    font-size: 16px;
}

/*<editor-fold desc="small link">*/
/*Links*/
.linkArrow {
    color: var(--accentColor);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.linkArrow::after {
    content: "⟶";
    margin-left: 5px;
    transition: 0.15s;
}

.linkArrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1204px) {
    .linkArrow {
        font-size: 1.5rem;
    }
}

/*</editor-fold>*/

