/*start of default code */

/* Default font size */
html {
    /*This is the default font size set by the browser.*/
    /*font-size: 16px;*/

    font-size: 62.5%; /*This is .625 * 16 = 10px makes calculation of rem easier*/
}


/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
}
/* Removes the line under all lines in page */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Make images easier to work with */
img, picture {
    display: block;
    max-width: 100%;
}

:root {
    --accentColor: #ff3400;
    --bodyTextColor: #918ca4;
    --cardTextColor: #ffffff;
    --headerTextColor: #1b0760;
    --primaryColor: #2584ff;
    --secondaryColor: #00d9ff;
    --iconBackgroundColor: #f3f9fa;
}

/* Set core body defaults */
body {
    background-color: rgb(253, 247, 228);
    color: var(--bodyTextColor);
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /*Default font size this is 24px.*/
    font-size: 2.4rem;
    line-height: 1.5;
    min-height: 96vh;
    text-rendering: optimizeSpeed;
}

/*end of default code */

/*<editor-fold desc="Typography">*/
/*Typography*/
h1, h2, h3 {
    color: var(--headerTextColor);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

@media screen and (min-width: 1204px){
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}
/*End of Typography*/
/*</editor-fold>*/




/*<editor-fold desc="small link">*/
/*Links*/
.linkArrow {
    color: var(--accentColor);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.linkArrow::after {
    content: "⟶";
    margin-left: 5px;
    transition: 0.15s;
}

.linkArrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1204px) {
    .linkArrow {
        font-size: 1.5rem;
    }
}

/*</editor-fold>*/

/*<editor-fold desc="Badges">*/
/*Badges*/
.badge {
    border-radius: 20px;
    color: var(--cardTextColor);
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2.5rem;
    /*forces us to not have multiple lines this is needed when we have a small amount of space.*/
    white-space: nowrap;
}

.badge--primary {
    background: var(--primaryColor);
}

.badge--secondary {
    background-color: var(--secondaryColor);
}

.badge--small {
    font-size: 1.6rem;
    text-transform: uppercase;
}

@media screen and (min-width: 1204px) {
    .badge--small {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .badge{
        font-size: 1.5rem;
    }
}
/*</editor-fold>*/


/*<editor-fold desc="Lists">*/
/* Lists */
.list {
    padding-left: 0;
    color: var(--headerTextColor);
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list--check {
    list-style-image: url("../images/icons/tick.svg");
    padding-left: 3rem;
}
/*This applies a padding to the list "items" only if they are a child of a checked list */
.list--check .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1204px) {
    .list--check .list__item {
        padding-left: 0;
    }
}
/*</editor-fold>*/

/*<editor-fold desc="Icon">*/
/*Icons*/
.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--primaryColor);
}

.icon-Container {
    background-color: var(--iconBackgroundColor);
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/*</editor-fold>*/





