<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blocks</title>
</head>
<body>

<section class="block container">

    <header class="block__header ">
        <h2 class="block__heading">Heading</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae commodi cupiditate ea enim
            exercitationem fuga harum possimus recusandae temporibus? Cupiditate dolores facere maiores molestiae natus
            pariatur quibusdam tenetur vel.
        </p>
    </header>

    <div>
        <div class="card card--primary">
            <header class="card__header">Card Title</header>
            <div class="card__body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis delectus fugit illum ipsa
                itaque
                laudantium provident suscipit vero! Aliquam dolorum fuga fugit illo illum quod recusandae tempora
                vel voluptatibus.
            </div>
        </div>
    </div>

</section>

<section class="block block--dark block--skewed-right">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae commodi cupiditate ea enim
            exercitationem fuga harum possimus recusandae temporibus? Cupiditate dolores facere maiores molestiae natus
            pariatur quibusdam tenetur vel.
        </p>
    </div>
</section>

<section class="block block--dark block--skewed-left">
    <div class="container"><h2 class="block__heading">Heading</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae commodi cupiditate ea enim
            exercitationem fuga harum possimus recusandae temporibus? Cupiditate dolores facere maiores molestiae natus
            pariatur quibusdam tenetur vel.
        </p></div>
</section>

</body>
</html>