<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buttons</title>
</head>
<body>
<form action="#">
  <button class="button button--dark-unselected button--block ">Buy Now</button>
  <button class="button button--dark--blue button--block ">Buy Now</button>
  <button class="button button--long button--orange button--block ">Get started</button>
  <button class="button button--light--blue button--block ">Get started</button>
  <a href="#" class="button button--light--blue button--block">Get started</a>
</form>
</body>
</html>