<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Callouts</title>
</head>
<body>

<div class="callout callout--primary">

  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get Started?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
        est laboriosam optio quo veniam? A autem beatae deserunt doloribus enim esse
        laboriosam magnam molestias necessitatibus nemo, provident saepe, sit totam!</p>
    </div>
    <a href="#" class="button button--light--blue callout__button button--long">Get started</a>
  </div>

</div>

</body>
</html>