<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>

<div style="width: 30%; padding: 4rem ">
  <div class="card card--primary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis delectus fugit illum ipsa
      itaque
      laudantium provident suscipit vero! Aliquam dolorum fuga fugit illo illum quod recusandae tempora
      vel voluptatibus.
    </div>
  </div>
</div>

<div style="width: 30%; padding: 4rem ">
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis delectus fugit illum ipsa
      itaque
      laudantium provident suscipit vero! Aliquam dolorum fuga fugit illo illum quod recusandae tempora
      vel voluptatibus.
    </div>
  </div>
</div>

</body>
</html>