<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media</title>
</head>
<body>

<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/icons/sprite.svg#snap"></use>
        </svg>
    </div>

    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta dolor eveniet expedita,
            hic illum omnis porro repellat sit vitae. Commodi deleniti fugit provident quae quam quis quisquam suscipit
            voluptate.
        </p>
    </div>
</div>

</body>
</html>