<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quote</title>
</head>
<body>

<blockquote class="quote">
    <p class="quote__text">
        I am thrilled to express my utmost satisfaction with the cloud service I've been using. The user interface is
        not only visually appealing but also remarkably intuitive, making it easy for both tech enthusiasts and
        beginners.
    </p>

    <footer class="quote__footer">
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/icons/sprite.svg#line"></use>
                </svg>
            </div>

            <div class="media__body">
                <h3 class="media__title quote__name">Jhone Lumeo</h3>
                <p class="quote__company-name">
                    Mosh Company ceo
                </p>
            </div>
        </div>
    </footer>

</blockquote>

</body>
</html>