<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form class="inputGroup" action="#">
    <label for="text"></label>
    <input placeholder="Enter domain name here..." class="input" id="text" type="text" name="text" />
    <button class="button button--orange">Search</button>
</form>

<form class="inputGroup" action="#">
    <label for="text2"></label>
    <button class="button button--orange">Search</button>
    <input placeholder="Enter domain name here..." class="input" id="text2" type="text" name="text" />
</form>

<form class="inputGroup" action="#">
    <label for="text3"></label>
    <span class="icon-Container">
            <svg class="icon icon--primary">
            <use xlink:href="images/icons/sprite.svg#wordpress"></use>
        </svg>
        </span>
    <input placeholder="Enter domain name here..." class="input" id="text3" type="text" name="text" />
</form>

</body>
</html>