<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Showcase Block</title>
</head>
<body>

<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header block">
    <h2 class="">User-Friendly Control Panel</h2>
  </header>

  <div class="container grid grid--1x2">

    <picture class="block-showcase__image">
      <source
              type="image/webp"
              srcset="images/resized/ipad@1x.webp 1x, images/resized/ipad@2x.webp 2x">

      <source
              type="image/png"
              srcset="images/resized/ipad@1x.png 1x, images/resized/ipad@2x.png 2x">

      <img class="" src="images/resized/ipad@2x.png" alt="">
    </picture>

    <ul>
      <li>
        <div class="media">
          <div class="media__image icon--primary">
            <svg class="icon">
              <use xlink:href="images/icons/sprite2.svg#s"></use>
            </svg>
          </div>

          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta dolor eveniet expedita,
              hic illum omnis porro repellat sit vitae. Commodi deleniti fugit provident quae quam quis quisquam suscipit
              voluptate.
            </p>
          </div>
        </div>

      </li>

      <li>

        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/icons/sprite.svg#growth"></use>
            </svg>
          </div>

          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta dolor eveniet expedita,
              hic illum omnis porro repellat sit vitae. Commodi deleniti fugit provident quae quam quis quisquam suscipit
              voluptate.
            </p>
          </div>
        </div>

      </li>

      <li>

        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/icons/sprite.svg#wordpress"></use>
            </svg>
          </div>

          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta dolor eveniet expedita,
              hic illum omnis porro repellat sit vitae. Commodi deleniti fugit provident quae quam quis quisquam suscipit
              voluptate.
            </p>
          </div>
        </div>

      </li>
    </ul>
  </div>
</section>

</body>
</html>